body{
  max-height: 90vh;
  overflow: auto;
}

.month {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.week {
  display: flex;
  width: 100%;
  height: calc(90vh/5);
}
.calendarTile {
  border: #dadce0 1px solid;
  width: calc(100% / 7);
  text-align: center;
}

.calendarTile p{
  margin: 0;
}

.calendarTile span{
  margin: 0;
}

.eventModalContainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  transform: translate(-50%, -50%);

  z-index: 1;
  left: 50%;
  top: 50%;
  width: 40%;
  height: 70%;
  max-height: 400px;
  overflow: auto;
  background-color: rgb(255, 255, 255, 1);
  /* border: 1px solid black; */
  border-radius: 5px;
  box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);;
}

.eventModalForm {
  border-radius: 5px;
  overflow-y: auto;
}

.eventModalForm input{
  display: block;
  padding: 1rem;
  margin: 1rem;
}

.eventModalFormFooter {
  background-color: white;
  text-align: right;
  border-top: 1px solid rgba(143, 133, 133, 0.4);
}

.eventModalFormFooter input {
  color: white;
  background-color: #1a73e8;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  border: none;
  float: right;
}

.eventModalFormNavBar{
  background-color: #f1f3f4;
  height: 1rem;
  text-align: right;
  padding: 0.7rem;
  color: #5f6368;
  font-weight: bold;
}

.eventModalFormNavBar span:hover, .eventModalFormFooter input:hover {
  cursor: pointer;
}

.calendarEventTile{
  background-color:rgb(3, 155, 229);
  color: white;
  overflow: hidden;
  padding: 0.1em 0.1em;
  margin: 0.2rem 0.2rem;
  border-radius: 3px;
  line-height: 16px;
  text-align: center;
}

.eventsContainer {
  overflow-y: auto;
  height: 80%;
  /* border: 1px dotted red; */
}

.dateNumContainer{
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

.dateNumContainer span{
  margin-right: 5px;
}
#currentDateNumber {
  text-align: center;
  padding: 3.5px;
  background-color: rgb(26,115,232);
  color:white;
  border-radius: 50%;
  
}

.dayOfWeek{
  color:rgb(112,117,122);
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
}

.navBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  color:rgb(69, 72, 75);
  font-size: 22px;
  font-weight: 500;
  align-items: center;
}

.navBar input{
  border: none;
  background-color: #1a73e8;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 3px;
}

.tileDate{
  color:rgb(32,32,32);
}
